// Import global Material Theming variables
@import "my-theme";

// Imports the Styles for each Material Component
@import "@material/button/mdc-button";
@import "@material/textfield/mdc-text-field";
@import "@material/select/mdc-select";
@import "@material/list/mdc-list";
@import "@material/menu-surface/mdc-menu-surface";
@import "@material/menu/mdc-menu";
@import "@material/chips/mdc-chips";
@import '@material/top-app-bar/mdc-top-app-bar';
@import "@material/tab-bar/mdc-tab-bar";
@import "@material/tab-scroller/mdc-tab-scroller";
@import "@material/tab-indicator/mdc-tab-indicator";
@import "@material/tab/mdc-tab";
@import "@material/tab/mixins";
@import "@material/tab-indicator/mixins";
@import "@material/ripple/mixins";
@import "@material/card/mdc-card";
@import "@material/layout-grid/mdc-layout-grid";
@import "@material/typography/mixins";
@import "@material/drawer/mdc-drawer";
@import "@material/icon-button/mdc-icon-button";

body {
  margin: 0;
  background: mdc-theme-prop-value(background);
}

.adopt-a-pup-top-navigation {
  display: flex;
  position: relative;
  box-sizing: border-box;
  width: 100%;
}

.mdc-drawer__header {
    padding: 4px;
}


.drawer-close-icon {
  text-decoration: none;
}

.adopt-a-pup-tab {
  @include mdc-tab-text-label-color(black);
  @include mdc-tab-icon-color(black);
  @include mdc-typography(body2);
  font-style: normal;

  .mdc-tab__ripple {
    @include mdc-states(gray);
  }
}

.adopt-a-pup-tab-indicator {
  @include mdc-tab-indicator-underline-color(#6B38FB);
}

.adopt-a-pup-puppers {
  max-width: 1480px;
}

.adopt-a-pup-body--hidden {
  display: none;
}

$card-text-label-baseline: 16px;

.adopt-a-pup-card .mdc-card__actions {
  margin-top: auto;
}

.adopt-a-pup-card__text-label {
  margin: 0 16px;
  @include mdc-typography(headline5);
  @include mdc-typography-baseline-top(32px);
//@include mdc-typography-baseline-bottom(-$card-text-label-baseline);
}

.adopt-a-pup-card__overline {
  margin: 0 16px;
  line-height: 1rem !important;
  @include mdc-typography(overline);
  text-transform: uppercase;
  margin-top: 12px;
//@include mdc-typography-baseline-bottom(-$card-text-label-baseline);
}

$card-secondary-baseline: 16px;

.adopt-a-pup-card__secondary {
  margin: 0 16px;
  @include mdc-typography(body2);
  @include mdc-typography-baseline-top(24px);
  @include mdc-typography-baseline-bottom(-$card-secondary-baseline);
  line-height: 1.3rem !important;
}

.adopt-a-pup--fixed-adjust {
  padding-top: 112px;
}



.adopt-form {
  padding: 0 16px 16px;
  overflow: hidden;
}

.adopt-form--hidden {
  visibility: hidden;
}

.adopt-form__animating-container {
  //padding: 12px;
  overflow: hidden;
  transform: translateY(0);
  transition: transform cubic-bezier(.4, 0, .2, 1) 250ms;
}

.adopt-form__animating-container--animating {
  transform: translateY(-110%);
}

.adopt-form__link {
  color: $mdc-theme-primary;
}

.adopt-form__input-field {
  width: 100%;
  margin: 8px 0;
}

.mdc-select {
  @include mdc-select-shape-radius($mdc-shape-small-component-radius);
}

.mdc-card__actions { 
  justify-content: flex-end; 
}

.mdc-typography--caption {
  @include mdc-typography(caption);
  @include mdc-typography-baseline-top(24px);
  @include mdc-typography-baseline-bottom(-$card-text-label-baseline);
}

.mdc-button {
  font-style: normal;
  @include mdc-button-container-fill-color(#6B38FB);
}

svg {
  margin-top: 12px;
}

.mdc-top-app-bar__search-icon {
  right: 0;
  text-decoration: none;
}


.mdc-drawer .mdc-list-item {
    font-size: inherit;
    text-decoration: inherit;
    text-transform: inherit;
    @include mdc-typography(subtitle1);
}

.mdc-list {
 @include single-line-height(64px);
}

.mdc-list-item--activated {
  @include mdc-typography(subtitle1);
  font-weight: 700 !important;
  color: black !important;
  
}